<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
   <title>Mercadolibre</title>
</head>

<body>
    <header class="encabezado">
        <section class="logo-busquda-compra">
            <img class= "logo" src="/images/logo-mercado-liebre.svg" alt= "Logo Mercado Libre">

            <div class="barra-busqueda">
                <input type="barra-busqueda" placehoder= "Busqueda de productos" />
                <button> <i id= "buscar" class="fas fa-search"></i> </button>  

            </div>
             <a class= "sin-cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</a>
        </section>
        <section>
            <nav class="menu">
                <ul class ="lista" > 
                    <li><a href="#"> Ofertas </a> </li> 
                    <li><a href="#"> Tiendas Oficiales </a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>     
                </ul>
                <!-- <a href=""class= "burger-menu"> <i class="fas fa-bars"></i></a> -->
                <ul class ="lista" >
                    <li><a href="#">Creá tu cuenta</a> <i class="far fa-address-card"></i></li> 
                    <li><a href="#">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li> 
                    <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li> 
                </ul> 
            </nav>
        </section>
        
    </header>

    <section>
        <img class= "banner" src= "/images/img-home-banner.jpg">
    </section>
    
    <main>
        <section class= "productos-visita">
            <h2 class="titulos"> Basados en tu última visita </h2>
            <section class="productos">
                <article class= "caja-de-productos">
                    <img src = "/images/img-cafetera-moulinex.jpg" class="imagen-producto">
                    <div class= "box-detalle">
                        <div class="detalle-producto">
                            <h5 class="precio">$6.770</h5>
                            <h5 class="descuento">40% OFF</h5>
                            <i-truck class="fas fa-truck"></i-truck>
                        </div>
                        <br>
                        <h5 class="descripcion">Cafetera Moulinex </h5>
                    </div>
                </article>
                <article class= "caja-de-productos">
                    <img src = "/images/img-macbook-pro-2019.jpg" class="imagen-producto">
                    <div class= "box-detalle">
                        <div class="detalle-producto">
                            <h5 class="precio">$230.000</h5>
                            <h5 class="descuento">20% OFF</h5>
                            <i-truck class="fas fa-truck"></i-truck>
                        </div>
                        <br>
                        <h5 class="descripcion">Mac Book Pro</h5>
                    </div>
                </article>
                <article class= "caja-de-productos">
                    <img src = "/images/img-samsung-galaxy-s10.jpg" class="imagen-producto">
                    <div class= "box-detalle">
                        <div class="detalle-producto">
                        <h5 class="precio">$70.500</h5>
                        <h5 class="descuento">10% OFF</h5>
                        <i-truck class="fas fa-truck"></i-truck>
                    </div>
                    <br>
                        <h5 class="descripcion">Samsumg S10</h5>
                    </div>
                </article>
                <article class= "caja-de-productos">
                    <img src = "/images/img-tv-samsung-smart.jpg" class="imagen-producto">
                <div class= "box-detalle">
                    <div class="detalle-producto">
                        <h5 class="precio">$23.200</h5>
                        <h5 class="descuento">5% OFF</h5>
                        <i-truck class="fas fa-truck"></i-truck>  
                    </div>
                    <br>    
                        <h5 class="descripcion">Samsung Smart Tv</h5>
                </div>
                </article>
            </section>
        </section>
        <section class= "productos-visita">
            <h2 class="titulos"> Ofertas </h2>
            <section class="productos">
                <article class= "caja-de-productos">
                    <img src = "/images/img-cafetera-moulinex.jpg" class="imagen-producto">
                    <div class= "box-detalle">
                        <div class="detalle-producto">
                            <h5 class="precio">$6.770</h5>
                            <h5 class="descuento">40% OFF</h5>
                            <i-truck class="fas fa-truck"></i-truck>
                        </div>
                        <br>
                        <h5 class="descripcion">Cafetera Moulinex </h5>
                    </div>
                </article>
                <article class= "caja-de-productos">
                    <img src = "/images/img-macbook-pro-2019.jpg" class="imagen-producto">
                    <div class= "box-detalle">
                        <div class="detalle-producto">
                            <h5 class="precio">$230.000</h5>
                            <h5 class="descuento">20% OFF</h5>
                            <i-truck class="fas fa-truck"></i-truck>
                        </div>
                        <br>
                        <h5 class="descripcion">Mac Book Pro</h5>
                    </div>
                </article>
                <article class= "caja-de-productos">
                    <img src = "/images/img-samsung-galaxy-s10.jpg" class="imagen-producto">
                    <div class= "box-detalle">
                        <div class="detalle-producto">
                        <h5 class="precio">$70.500</h5>
                        <h5 class="descuento">10% OFF</h5>
                        <i-truck class="fas fa-truck"></i-truck>
                    </div>
                    <br>
                        <h5 class="descripcion">Samsumg S10</h5>
                    </div>
                </article>
                <article class= "caja-de-productos">
                    <img src = "/images/img-tv-samsung-smart.jpg" class="imagen-producto">
                <div class= "box-detalle">
                    <div class="detalle-producto">
                        <h5 class="precio">$23.200</h5>
                        <h5 class="descuento">5% OFF</h5>
                        <i-truck class="fas fa-truck"></i-truck>  
                    </div>
                    <br>    
                        <h5 class="descripcion">Samsung Smart Tv</h5>
                </div>
                </article>
            </section>
        </section>
    </main>
</body>

<footer>
    <section class= "footer">
        <div>
            <i class="fas fa-gift"></i>
            <i class="fas fa-credit-card"></i>
            <i class="fas fa-user-shield"></i>
        </div>
        <div class= "title-footer">
            <h4 class="titulos-de-pagina"> Pagá con tarjeta o en efectivo </h4>
            <h4 class="titulos-de-pagina"> Envío gratis desde $ 2.500 </h4>
            <h4 class="titulos-de-pagina"> Seguridad, de principio a fin </h4>   
        </div>
        <div class= "footer-description">
            <p class= "descripcion-pie"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro! 
            </p>
            <p class= "descripcion-pie"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos. 
            </p>
            <p class= "descripcion-pie"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@. 
            </p>
        </div>
        <h4 class="copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L. </h4>
    </section>   
</footer>
</html>





